<div style="background-color: #eff0f2;width: 100%;height: 300px;">
    <div style="text-align: center;">
        <br><br>
        <div class="container">
            <div></div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <h1>Let's Keep it fresh</h1>
                        
                   
                </div>
                <div class="col-6">
                    <h2>Embrace change and keep it fresh!</h2>
                </div>
            </div>
            <br>
            <div class="row" style="text-align: justify;">
                <div class="col-2"></div>
                <div class="col-6" style="margin-left: 20px;">
                    <p>Sign up to receive 15%off your first order Stay in the know
                        <br>
                        for new arrivals & exclusive promotion
                    </p>
                </div>
            </div>

        </div>
    </div>


    <br>
    <div style="margin-left:315px;"><input style="height: 50px;width: 230px;" placeholder="    Email" type="text" name="" id="">
        <button style="background-color: black;color: white;height: 52px;width: 170px;"><Small>Subscribe</Small></button>
    </div>
</div>
<div style="color: white;background-color: #283545;padding-left: 40px;">
    <div class="row" style="padding-top: 50px;">
        <div class="col-3">
            <h3>About us</h3>
        </div>
        <div class="col-3">
            <h3>Shop</h3>
        </div>
        <div class="col-3">
            <h3>Support</h3>
        </div>
        <div class="col-3">
            <h3>Account</h3>
        </div>
    </div>

    <!-- row - 2  -->

    <div class="row">
        <div class="col-3">
            <p>Our Story</p>
        </div>
        <div class="col-3">
            <p>Bestsellers</p>
        </div>
        <div class="col-3">
            <p>Contact Us</p>
        </div>
        <div class="col-3">
            <p>Log in</p>
        </div>
    </div>

    <!-- row--3 -->

    <div class="row">
        <div class="col-3">
            <p>Store Locator</p>
        </div>
        <div class="col-3">
            <p>Undderwear</p>
        </div>
        <div class="col-3">
            <p>FAQ</p>
        </div>
        <div class="col-3">
            <p>Register</p>
        </div>
    </div>

    <!-- row -4 -->

        <div class="row">
            <div class="col-3">
                <p>Our Retail Partners</p>
            </div>
            <div class="col-3">
                <p>Tops</p>
            </div>
            <div class="col-3">
                <p>Shipping</p>
            </div>
            <div class="col-3">
                <p>Order Status</p>
            </div>
        </div>

        <!-- row-5 -->

            <div class="row">
                <div class="col-3">
                    <p> Wholesale Inquiries</p>
                </div>
                <div class="col-3">
                    <p>Bottoms</p>
                </div>
                <div class="col-3">
                    <p>Returns</p>
                </div>
                <div class="col-3">
                    <p>Order History</p>
                </div>
            </div>

            <!-- row-6 -->

                <div class="row">
                    <div class="col-3">
                        <p>Community Heroes</p>
                    </div>
                    <div class="col-3">
                        <p>Stocks</p>
                    </div>
                    <div class="col-3">
                        <p>Size Guide</p>
                    </div>
                    <div class="col-3">
                        <p>MVV Rewards</p>
                    </div>
                </div>

                <!-- row-7 -->

                    <div class="row">
                        <div class="col-3">
                            <p>Carrers</p>
                        </div>
                        <div class="col-3">
                            <p>Accessories</p>
                        </div>
                        <div class="col-3">
                            <p>Accessibility</p>
                        </div>
                        <div class="col-3">
                            <p> </p>
                        </div>
                    </div>

                    <!-- row -8  -->
                        <div class="row">
                            <div class="col-3">
                                <p>Reviews</p>
                            </div>
                            <div class="col-3">
                                <p></p>
                            </div>
                            <div class="col-3">
                                <p></p>
                            </div>
                            <div class="col-3">
                                <p></p>
                            </div>
                        </div>

                        <div style="margin-top: 50px;margin-bottom: 0px;">
                        <i class="fa fa-instagram ic" aria-hidden="true"></i>
                        <i class="fa fa-facebook ic" aria-hidden="true"></i>
                        <i class="fa fa-twitter ic" aria-hidden="true"></i>
                        <i class="fa fa-youtube-play ic" aria-hidden="true"></i>
                        <i class="fa fa-pinterest ic" aria-hidden="true"></i>

                    
                    </div>
                    <br>
                    <br>

</div>