<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav> -->

<!--  -->

<nav class="nv">

    <!-- dropdown starts -->
    <button class="btn btn-primary nv1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"><i class="fa fa-bars" aria-hidden="true"></i></button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
        </div>
    </div>
    <!-- dropdown ends -->

    <button class="b1"><div class="dropdown">
        <button class="dropbtn b1">Shop</button>
        <div class="dropdown-content dd1">
            <a href="#">Royal casuals</a>
            <a href="#">Royal Formals</a>
            <a href="#">Royal essentials</a>
            <a href="#">Royal Active</a>
        </div>
    </div></button>
    <button class="b1">
        <div class="dropdown">
            <button class="dropbtn b1">Style</button>
            <div class="dropdown-content dd1">
                <a href="#">Crew neck</a>
                <a href="#">Henley</a>
                <a href="#">Full sleeve</a>
                <a href="#">Polo</a>
            </div>
        </div>
    </button>
    <button class="b1"><div class="dropdown">
        <button class="dropbtn b1">Occasions</button>
        <div class="dropdown-content dd1">
            <a href="#">Job interview </a>
            <a href="#">Wedding</a>
            <a href="#">Night club</a>
            <a href="#">Gym</a>
            <a href="#">Dating</a>
            <a href="#">Parties</a>
            <a href="#">Holiday</a>
            <a href="#">Long Drive</a>
            <a href="#">Sports</a>
            <a href="#">Engagement Party</a>
        </div>
    </div></button>
    <button class="b1">New</button>
    <button class="b1"><img src="assets/logo1.png" alt=""></button>
    <button class="b1"><div class="dropdown">
        <button class="dropbtn b1">About</button>
        <div class="dropdown-content dd1">
            <a href="#">Materials</a>
            <a href="#">Promise</a>
            <a href="#">Story</a>
        </div>
    </div></button>
    <button class="b1"><div class="dropdown">
        <button class="dropbtn b1">Help</button>
        <div class="dropdown-content dd1">
            <a href="#">Product, Care, Fit</a>
            <a href="#">Billing & Payments</a>
            <a href="#">Return policy and exchange</a>
            <a href="#">Shipping and Tracking </a>
        </div>
    </div></button>
    <button class="b1 fnt"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </button>
    <button class="b1 fnt"><i class="fa fa-search" aria-hidden="true"></i></button>
    <button class="b1 fnt"><i class="fa fa-shopping-cart" aria-hidden="true"> 0</i></button>
</nav>