<br>
<div class="container">
    <div class="row">
        <div class="card mb-3" style="max-width: 1040px;background-color: #f0f0f0;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/ad1.jpg" class="img-fluid rounded-start zoom" width="100%" alt="...">
                </div>
                <div class="col-md-8">
                    <div style="text-align: center;" class="card-body">
                        <h1 class="card-title" style="font-size: 70px;margin-top: 200px;font-family:   cursive;">Men's
                            Outfit Guide</h1>
                        <h5>THE FUNDAMENTALS OF GREAT OUTFITS</h5> <br>
                        <button style="background-color: black;color: white;border-radius: 20px;"> Learn More </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>